uvicorn

fastapi
fastapi[standard]

pydantic
pydantic[email]
pydantic_settings

motor

sqlalchemy
asyncpg
python-dotenv
gunicorn
aiohttp
pyjwt
starlette
pytz
apscheduler
cryptography

redis
httpx
greenlet
bcrypt
itsdangerous
keyring

psycopg2-binary
bunnycdnpython
python-multipart
pytz
bleach
