fastapi
uvicorn
sqlalchemy
asyncpg
python-dotenv
gunicorn
aiohttp
pyjwt
pydantic
starlette
pytz
apscheduler
cryptography
pydantic_settings
redis
httpx
greenlet
bcrypt
itsdangerous
keyring
pydantic[email]
psycopg2
bunnycdnpython
python-multipart
